eugene-android/*.iml
eugene-android/.gradle
eugene-android/local.properties
eugene-android/.idea/workspace.xml
eugene-android/.idea/libraries
eugene-android/.DS_Store
eugene-android/build
eugene-android/captures
eugene-android/.externalNativeBuild
